<div id="basket">
  <div class="item" *ngFor="let item of items | keys">
    <div class="item-info"
         *ngIf="item.value > 0">
      {{item.key}}
    </div>
    <div class="item-info right"
         *ngIf="item.value > 0">
      Count: {{item.value}}
    </div>
  </div>
  <div class="empty" *ngIf="empty">
    <h2>{{emptyMsg}}</h2>
  </div>
  <hr>
  <div class="right" id="total">
    <h3>Total: {{convertedTotal | currency:currency:true}}</h3>
  </div>
  <div>
    <select
      [(ngModel)]="currency"
      (ngModelChange)="onChange($event)"
      name="currency" class="select"
    >
      <option *ngFor="let cur of currencies" [ngValue]="cur">{{cur}}</option>
    </select>
  </div>
</div>
